# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# MkDocs build output
site/

# OS junk files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp

# IDE/editor files
.vscode/
.idea/
*.iml
